[Unit]
Description=ABLS Agent Onduleur (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-ups --agent-tech-id=%i
DynamicUser=yes
SupplementaryGroups=abls
StateDirectory=abls-agent-ups/%i
WorkingDirectory=%S/abls-agent-ups/%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
